##### 4) Write a Python program to check if a number is positive, negative or zero.

In [2]:
number = int(input("Enter a number: "))

if number > 0:
    print("The number is positive")
elif number < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number: 9
The number is positive

##### 5)Write a Python program to get the Factorial number of given numbers.

In [3]:
n = int(input("Enter a number: "))
f = 1

if n < 0:
    print("No factorial for negative")
elif n == 0:
    print("Factorial of 0 is 1")
else:
    for i in range(1, n + 1):
        f = f * i
    print("Factorial of", n, "is", f)

Enter a number: 8
Factorial of 8 is 40320

##### 6)Write a Python program to get the Fibonacci series of given range.

In [4]:
r = int(input("Enter range: "))
a, b = 0, 1

print("Fibonacci series:")
for _ in range(r):
    print(a, end=" ")
    a, b = b, a + b

Enter range: 9
Fibonacci series:
0 1 1 2 3 5 8 13 21

##### 9) Write python program that swap two number with temp variable
and without temp variable.

In [ ]:
x = int(input("Enter first number again: "))
y = int(input("Enter second number again: "))

x = x + y
y = x - y
x = x - y
print("After swapping without temp variable: x =", x, ", y =", y)

Enter first number again: 5
Enter second number again: 6
After swapping without temp variable: x = 6 , y = 5

##### 10) Write a Python program to find whether a given number is even
or odd, print out an appropriate message to the user.

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

Enter a number: 6
6 is even

##### 11) Write a Python program to test whether a passed letter is a vowel or not.

In [ ]:
letter = input("Enter a letter: ")

if letter.lower() in "aeiou":
    print(letter, "is a vowel")
else:
    print(letter, "is not a vowel")

Enter a letter: a
a is a vowel

##### 12) Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a == b or b == c or a == c:
    s = 0
else:
    s = a + b + c

print("The result is:", s)

Enter first number: 6
Enter second number: 5
Enter third number: 3
The result is: 14

##### 13) Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.

In [ ]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

if x == y or x + y == 5 or abs(x - y) == 5:
    print("True")
else:
    print("False")

Enter first number: 5
Enter second number: 6
False

##### 14)Write a python program to sum of the first n positive integers.

In [ ]:
n = int(input("Enter a number: "))
total = 0

for i in range(1, n + 1):
    total += i

print("The sum of the first", n, "positive integers is:", total)

Enter a number: 4
The sum of the first 4 positive integers is: 10

##### 15)Write a Python program to calculate the length of a string.

In [ ]:
s = input("Enter a string: ")
length = len(s)
print("The length of the string is:", length)

Enter a string: 'abhi'
The length of the string is: 6

##### 16) Write a Python program to count the number of characters (character frequency) in a string

In [ ]:
s = input("Enter a string: ")
freq = {}

for char in s:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print("Character frequency:", freq)

Enter a string: ' abhiaaa    '
Character frequency: {"'": 2, ' ': 5, 'a': 4, 'b': 1, 'h': 1, 'i': 1}

##### 18)Write a Python program to count occurrences of a substring in a string

In [ ]:
s = input("Enter a string: ")
substring = input("Enter the substring to count: ")

count = s.count(substring)
print("The substring occurs", count, "times.")

Enter a string: 'abhi'
Enter the substring to count: 5
The substring occurs 0 times.

##### 19) Write a Python program to count the occurrences of each word in a

In [ ]:
s = input("Enter a string: ")
words = s.split()
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print("Word occurrences:", word_count)

Enter a string: 'abhishek'
Word occurrences: {"'abhishek'": 1}

##### 20) Write a Python program to get a single string from two given strings,
separated by a space and swap the first two characters of each string.

In [ ]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")

new_s1 = s2[:2] + s1[2:]
new_s2 = s1[:2] + s2[2:]

result = new_s1 + " " + new_s2
print("Resulting string:", result)

Enter first string: 'abhi'
Enter second string: 3
Resulting string: 3bhi' 'a

##### 21) Write a Python program to add 'in' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead if the string length of the given string is less than 3, leave it unchanged.

In [ ]:
s = input("Enter a string: ")

if len(s) >= 3:
    if s.endswith("ing"):
        s += "ly"
    else:
        s += "in"

print("Modified string:", s)

Enter a string: 'abhi'
Modified string: 'abhi'in

##### 22) Write a Python function to reverses a string if its length is a multiple of 4.

In [ ]:
def reverse_if_multiple_of_4(s):
    if len(s) % 4 == 0:
        return s[::-1]
    else:
        return s

s = input("Enter a string: ")
result = reverse_if_multiple_of_4(s)
print("Resulting string:", result)

Enter a string: 'abhi'
Resulting string: 'abhi'

##### 23) Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string

In [ ]:
s = input("Enter a string: ")

if len(s) < 2:
    print("")
else:
    result = s[:2] + s[-2:]
    print("Resulting string:", result)

Enter a string: 'nsjds'
Resulting string: 'ns'

##### 24)Write a Python function to insert a string in the middle of a string.

In [ ]:
def insert_in_middle(s1, s2):
    middle = len(s1) // 2
    return s1[:middle] + s2 + s1[middle:]

s1 = input("Enter the first string: ")
s2 = input("Enter the string to insert: ")
result = insert_in_middle(s1, s2)
print("Resulting string:", result)

Enter the first string: 'aaaad'
Enter the string to insert: 4
Resulting string: 'aa4aad'

##### 29) Write a Python function to get the largest number, smallest num and sum of all from a list.

In [ ]:
def analyze_numbers(numbers):
    largest = max(numbers)
    smallest = min(numbers)
    total_sum = sum(numbers)
    return largest, smallest, total_sum

num_list = [10, 20, 5, 40, 15]
largest, smallest, total_sum = analyze_numbers(num_list)

print("Largest:", largest)
print("Smallest:", smallest)
print("Sum:", total_sum)

Largest: 40
Smallest: 5
Sum: 90

##### 31) Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [ ]:
def count_same_first_last(strings):
    count = 0
    for s in strings:
        if len(s) >= 2 and s[0] == s[-1]:
            count += 1
    return count

strings = input("Enter strings separated by space: ").split()
result = count_same_first_last(strings)
print("Count:", result)

Enter strings separated by space: 'abhi   '
Count: 0

##### 32)Write a Python program to remove duplicates from a list.

In [ ]:
lst = [1, 2, 3, 4, 4, 5, 6, 7, 7]
lst = list(set(lst))
print("List without duplicates:", lst)

List without duplicates: [1, 2, 3, 4, 5, 6, 7]

##### 33)Write a Python program to check a list is empty or not.

In [ ]:
lst = []

if not lst:
    print("The list is empty")
else:
    print("The list is not empty")

The list is empty

##### 34) Write a Python function that takes two lists and returns true if they have at least one common member.

In [ ]:
def have_common_member(lst1, lst2):
    return bool(set(lst1) & set(lst2))

lst1 = [1, 2, 3]
lst2 = [3, 4, 5]

result = have_common_member(lst1, lst2)
print(result)

True

##### 35) Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.

In [ ]:
lst = [x**2 for x in range(1, 31)]
result = lst[:5] + lst[-5:]
print("First and last 5 elements:", result)

First and last 5 elements: [1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

##### 36) Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [ ]:
def unique_elements(lst):
    return list(set(lst))

lst = [1, 2, 2, 3, 4, 4, 5]
result = unique_elements(lst)
print("List with unique elements:", result)

List with unique elements: [1, 2, 3, 4, 5]

##### 37)Write a Python program to convert a list of characters into a string.

In [ ]:
lst = ['P', 'y', 't', 'h', 'o', 'n']
result = ''.join(lst)
print("Converted string:", result)

Converted string: Python

##### 38)Write a Python program to select an item randomly from a list

In [ ]:
import random

lst = [1, 2, 3, 4, 5]
item = random.choice(lst)
print("Randomly selected item:", item)

Randomly selected item: 5

##### 39)Write a Python program to find the second smallest number in a list.

In [ ]:
lst = [4, 1, 7, 3, 9, 2]
lst = list(set(lst))
lst.sort()
second_smallest = lst[1] if len(lst) > 1 else None
print("Second smallest number:", second_smallest)

Second smallest number: 2

##### 40)Write a Python program to get unique values from a list

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]
unique_values = list(set(lst))
print("Unique values:", unique_values)

Unique values: [1, 2, 3, 4, 5]

##### 41)Write a Python program to check whether a list contains a sub list

In [ ]:
def contains_sublist(lst, sublist):
    return any(lst[i:i+len(sublist)] == sublist for i in range(len(lst) - len(sublist) + 1))

lst = [1, 2, 3, 4, 5]
sublist = [3, 4]

result = contains_sublist(lst, sublist)
print("Contains sublist:", result)

Contains sublist: True

##### 42)Write a Python program to split a list into different variables.

In [ ]:
lst = [1, 2, 3, 4, 5]

a, b, c, d, e = lst
print("Variables:", a, b, c, d, e)

Variables: 1 2 3 4 5

##### 44)Write a Python program to create a tuple with different data types.

In [ ]:
tup = (1, "hello", 3.14, True, [1, 2, 3])
print("Tuple:", tup)

Tuple: (1, 'hello', 3.14, True, [1, 2, 3])

##### 45)Write a Python program to unzip a list of tuples into individual lists.

In [ ]:
lst = [(1, 'a'), (2, 'b'), (3, 'c')]
unzipped = zip(*lst)
list1, list2 = list(unzipped)
print("List 1:", list1)
print("List 2:", list2)

List 1: (1, 2, 3)
List 2: ('a', 'b', 'c')

##### 46)Write a Python program to convert a list of tuples into a dictionary

In [ ]:
lst = [(1, 'a'), (2, 'b'), (3, 'c')]
dictionary = dict(lst)
print("Dictionary:", dictionary)

Dictionary: {1: 'a', 2: 'b', 3: 'c'}

##### 48)Write a Python script to sort (ascending and descending) a dictionary by value.

In [ ]:
d = {1: 'apple', 2: 'banana', 3: 'cherry', 4: 'date'}

sorted_asc = dict(sorted(d.items(), key=lambda item: item[1]))
print("Sorted by value (ascending):", sorted_asc)

sorted_desc = dict(sorted(d.items(), key=lambda item: item[1], reverse=True))
print("Sorted by value (descending):", sorted_desc)

Sorted by value (ascending): {1: 'apple', 2: 'banana', 3: 'cherry', 4: 'date'}
Sorted by value (descending): {4: 'date', 3: 'cherry', 2: 'banana', 1: 'apple'}

##### 49)Write a Python script to concatenate following dictionaries to create a new one.

In [ ]:
d1 = {1: 'a', 2: 'b'}
d2 = {3: 'c', 4: 'd'}
d3 = {5: 'e'}

new_dict = {**d1, **d2, **d3}
print("Concatenated dictionary:", new_dict)

Concatenated dictionary: {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

##### 50)Write a Python script to check if a given key already exists in a dictionary.

In [ ]:
d = {1: 'a', 2: 'b', 3: 'c'}

key = 2
if key in d:
    print("Key exists in the dictionary.")
else:
    print("Key does not exist in the dictionary.")

Key exists in the dictionary.

##### 53)Write a Python script to print a dictionary where the keys are numbers between 1 and 15.

In [ ]:
d = {i: i for i in range(1, 16)}
print("Dictionary:", d)

Dictionary: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15}

##### 54)Write a Python program to check multiple keys exists in a dictionary

In [ ]:
d = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

keys = [1, 2, 5]

if all(key in d for key in keys):
    print("All keys exist in the dictionary.")
else:
    print("Not all keys exist in the dictionary.")

Not all keys exist in the dictionary.

##### 55)Write a Python script to merge two Python dictionaries

In [ ]:
d1 = {1: 'a', 2: 'b'}
d2 = {3: 'c', 4: 'd'}

merged_dict = {**d1, **d2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

##### 56)Write a Python program to map two lists into a dictionary Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).

In [ ]:
keys = ['a', 'b', 'c', 'd']
values = [400, 400, 300, 400]

mapped_dict = dict(zip(keys, values))
print("Mapped dictionary:", mapped_dict)

Mapped dictionary: {'a': 400, 'b': 400, 'c': 300, 'd': 400}

##### 57)Write a Python program to find the highest 3 values in a dictionary

In [ ]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

highest_values = sorted(d.values(), reverse=True)[:3]
print("Highest 3 values:", highest_values)

Highest 3 values: [500, 400, 300]

##### 58)Write a Python program to combine values in python list of dictionaries.
##### Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, o {'item': 'item1', 'amount': 750}] Expected Output: Counter ({'item1': 1150, 'item2': 300})

In [ ]:
from collections import Counter

data = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]

result = Counter()

for entry in data:
    result[entry['item']] += entry['amount']

print("Counter:", result)

Counter: Counter({'item1': 1150, 'item2': 300})

##### 59)Write a Python program to create a dictionary from a string. Note: Track the count of the letters from the string.

In [ ]:
s = "hello world"

letter_count = {}

for letter in s:
    if letter != ' ':
        letter_count[letter] = letter_count.get(letter, 0) + 1

print("Letter count:", letter_count)

Letter count: {'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

##### 60)Sample string: 'w3resource' Expected output:  {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [ ]:
s = 'w3resource'

letter_count = {}

for letter in s:
    letter_count[letter] = letter_count.get(letter, 0) + 1

print("Letter count:", letter_count)

Letter count: {'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

##### 61)Write a Python function to calculate the factorial of a number (a nonnegative integer)

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter a number: "))
result = factorial(num)
print("Factorial of", num, "is", result)

Enter a number: 5
Factorial of 5 is 120

##### 62)Write a Python function to check whether a number is in a given range

In [ ]:
def check_range(num, start, end):
    if start <= num <= end:
        return True
    else:
        return False

num = int(input("Enter a number: "))
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

result = check_range(num, start, end)
print(f"Is the number {num} in the range {start} to {end}? {result}")

Enter a number: 6
Enter the start of the range: 4
Enter the end of the range: 3
Is the number 6 in the range 4 to 3? False

##### 63)Write a Python function to check whether a number is perfect or not.

In [ ]:
def is_perfect(num):
    if num < 1:
        return False
    divisors_sum = sum(i for i in range(1, num) if num % i == 0)
    return divisors_sum == num

num = int(input("Enter a number: "))
result = is_perfect(num)
print(f"Is the number {num} perfect? {result}")

Enter a number: 55
Is the number 55 perfect? False

##### 64)Write a Python function that checks whether a passed string is palindrome or not

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

s = input("Enter a string: ")
result = is_palindrome(s)
print(f"Is the string '{s}' a palindrome? {result}")

Enter a string: 'afdtud'
Is the string ''afdtud'' a palindrome? False

##### 72)Write a Python program to read an entire text file

In [ ]:
with open('file.txt', 'r') as file:
    content = file.read()
    print(content)

apple
banana
cherry

##### 73)Write a Python program to append text to a file and display the text.

In [ ]:
with open('file.txt', 'a') as file:
    file.write('Appending new text to the file.\n')

with open('file.txt', 'r') as file:
    content = file.read()
    print(content)

apple
banana
cherry
Appending new text to the file.

##### 74)Write a Python program to read first n lines of a file.

In [ ]:
def read_n_lines(file_name, n):
    with open(file_name, 'r') as file:
        for _ in range(n):
            print(file.readline(), end='')

file_name = 'file.txt'  # Replace with your file path
n = int(input("Enter the number of lines to read: "))
read_n_lines(file_name, n)

Enter the number of lines to read: 6
apple
banana
cherry
Appending new text to the file.

##### 75)Write a Python program to read last n lines of a file.

In [ ]:
def read_last_n_lines(file_name, n):
    with open(file_name, 'r') as file:
        lines = file.readlines()
        for line in lines[-n:]:
            print(line, end='')

file_name = 'file.txt'
n = int(input("Enter the number of lines to read from the end: "))
read_last_n_lines(file_name, n)

Enter the number of lines to read from the end: 4
apple
banana
cherry
Appending new text to the file.

##### 76)Write a Python program to read a file line by line and store it into a list

In [ ]:
def read_lines_to_list(file_name):
    with open(file_name, 'r') as file:
        lines = file.readlines()
    return lines

file_name = 'file.txt'  # Replace with your file path
lines_list = read_lines_to_list(file_name)
print(lines_list)

['apple\n', 'banana\n', 'cherry\n', 'Appending new text to the file.\n']

##### 77)Write a Python program to read a file line by line store it into a variable.

In [ ]:
def read_lines_to_variable(file_name):
    with open(file_name, 'r') as file:
        content = file.read()
    return content

file_name = 'file.txt'
content = read_lines_to_variable(file_name)
print(content)

apple
banana
cherry
Appending new text to the file.

##### 78)Write a python program to find the longest words.

In [ ]:
def find_longest_word(text):
    words = text.split()
    longest_word = max(words, key=len)
    return longest_word

text = "Write a python program to find the longest words"
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: program

##### 79)Write a Python program to count the number of lines in a text file.

In [ ]:
def count_lines_in_file(file_name):
    with open(file_name, 'r') as file:
        lines = file.readlines()
    return len(lines)

file_name = 'file.txt'  # Replace with your file path
line_count = count_lines_in_file(file_name)
print("Number of lines in the file:", line_count)

Number of lines in the file: 4

##### 80)Write a Python program to count the frequency of words in a file

In [ ]:
from collections import Counter

def countfrequency(file_name):
    with open(file_name, 'r') as file:
        words = file.read().split()
    return Counter(words)

file_name = 'file.txt'  # Replace with your file path
word_frequency = countfrequency(file_name)
print("Word frequency:", word_frequency)

Word frequency: Counter({'apple': 1, 'banana': 1, 'cherry': 1, 'Appending': 1, 'new': 1, 'text': 1, 'to': 1, 'the': 1, 'file.': 1})

##### 81)Write a Python program to write a list to a file.

In [ ]:
def write_listfile(file_name, data):
    with open(file_name, 'w') as file:
        for item in data:
            file.write(f"{item}\n")

data = ['apple', 'banana', 'cherry']
file_name = 'file.txt'  # Replace with your file path
write_listfile(file_name, data)

##### 82)Write a Python program to copy the contents of a file to another file

In [ ]:
def copycontents(source_file, destination_file):
     with open(source_file, 'r') as src:
        content = src.read()
     with open(destination_file, 'w') as dest:
        dest.write(content)

source_file = 'sourcee.txt'  # Replace with the path of your source file
destination_file = 'destination.txt'  # Replace with the path of your destination file
copycontents(source_file, destination_file)

##### 90)Write python program that user to enter only odd numbers, else will raise an exception

In [1]:
def getoddnumber():
    try:
        number = int(input("Enter an odd number: "))
        if number % 2 == 0:
            raise ValueError("This is not an odd number.")
        else:
            print(f"Thank you! You entered the odd number: {number}")
    except ValueError as e:
        print(e)

getoddnumber()

Enter an odd number: 9
Thank you! You entered the odd number: 9